[Unit]
Description=Update vyos-homepage-sync from GitHub
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/vyos-homepage-sync-update
NoNewPrivileges=true
PrivateTmp=true
